.tileWrapper {
    margin-top: 2rem;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.main {
    flex-grow: 1;
    min-width: 160px;
}
.mainRow {
    flex-grow: 1;
    padding: 0 1rem;
}
.favoriteButton {
    flex-shrink: 1;
}
