.large {
    width: 100%;
    height: 350px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.small {
    padding: 1rem;
    width: 120px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
