.tile {
    height: 100vh;
    overflow: auto;
}

.flex {
    display: flex;
}

.main {
    flex-grow: 1;
}

.right {
    margin-left: 1rem;
    width: 70px;
    text-align: right;
}

.imageWrapper {
    position: relative;
}

.playButton {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.weight,
.height {
    padding: 2rem;
    flex-grow: 1;
    text-align: center;
}
